*.iml
.gradle
/local.properties
build/
!gradle/wrapper/gradle-wrapper.jar
*.json
*.db

.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
hacksense.keystore
hacksense.apk
hacksense.apk.idsig


### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr
out/
